{% extends 'base.html' %}
{% load static %}

{% block title %}Сравнение котиков{% endblock %}

{% block content %}
    <header>
      <h1 class="page-title">FaceMixer</h1>
    </header>
    <p>
        <form action="" method="POST" class="form1">
        {% csrf_token %}
        <button type="submit" name="{{fst.id}}?{{scd.id}}">
            {% if fst%}
                <img src="{{fst.photo.url}}" alt='cat' class="img"/>
            {% endif %}
        </button>
        </form>
    </p>
    <p class="or">
        OR
    </p>
    <p>
        <form action="" method="POST" class="form2">
        {% csrf_token %}
        <button type="submit" name="{{scd.id}}?{{fst.id}}">
            {% if scd %}
                <img src="{{scd.photo.url}}" alt='cat' class="img" />
            {% endif %}
        </button>
        </form>
    </p>
{%endblock%}
