{% extends 'base.html' %}
{% load static %}

{% block title %}Сравнение котиков{% endblock %}

{% block content %}
    <header>
      <h1 class="page-title">FaceMixer</h1>
    </header>
    <p>
        <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="{{fst.id}}?{{scd.id}}">
            {% if fst%}
                <img src="{{fst.photo.url}}" alt='cat' width="350" height="350" class="img1"/>
            {% endif %}
        </button>
        </form>
        <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="{{scd.id}}?{{fst.id}}">
            {% if scd %}
                <img src="{{scd.photo.url}}" alt='cat' width="350" height="350" />
            {% endif %}
        </button>
        </form>
    </p>
{%endblock%}
