{% extends 'base.html' %}
{% load static %}

{% block title %}Сравнение котиков{% endblock %}

{% block content %}
    <header>
      <h1 class="page-title">FaceMixer</h1>
    </header>
    <p>
        <button type="submit" name="fst" class="avatar">
            {% if fst and scd %}
                <img src="{{fst.photo.url}}" alt='cat' width="350" height="350" />
            {% endif %}
        </button>
        <button type="submit" name="scd" class="avatar">
            {% if fst %}
                <img src="{{scd.photo.url}}" alt='cat' width="350" height="350" />
            {% endif %}
        </button>
    </p>
{%endblock%}
