.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

.img1 {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
}
.img2 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.page-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: left;
}
