.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

.img {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width:350px;
  height:350px;
}

.page-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.form1 {
    float: left;
    margin-left: 295px;
}
.form2 {
    float: left;
    margin-left: 10px;
}

.or {
  float: left;
  margin-left: 10px;
  font-size: 250%;
  margin-top: 100px;
}

.top {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width:200px;
  height:200px;
  margin-left: 606px;
}

